* {
  margin: 0;
  font-family:Poiret One, Arial;
}

html, body, main {
  height: 100%;
  overflow: hidden;
  background-color: #000000;
}

h1 {
  display: block;
  background-color:#96281B;
  margin: 0 auto;
  color: #FFE4E1;
  text-align: center;
  font-family: Open Sans;
  font-size: 3em;
}
h2{
  color:white;
  text-align:center;
  font-family: Tangerine;
  margin-top:20px;
}

.controlarea {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
}

.controlarea .session {
  
  font-size: .8em;
  display: flex;
}

.controlarea .session .breakCtrl, .controlarea .session .sessionCtrl {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
}

.controlarea .session .minus, .controlarea .session .plus {
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 2em;
  outline: none;
}

.controlarea .session .time {
  font-size: 2.5em;
  padding-left: 10px;
  padding-right: 10px;
}

.clockarea {
  background-color: #000000;
/*  height: 100%;*/
  color: #fff;
}

.clockarea .title {
  text-align: center;
  line-height: 180px;
  font-size: .8em;
}

.clockarea .timer {
  margin: 40px auto;
  text-align: center;
  width: 300px;
  height: 300px;
  font-size: 3em;
  border: 2px solid #FFE4E1;
  border-radius: 50%;
  position: relative;
  cursor:pointer;
  z-index: 20;
  overflow: hidden;
}

.clockarea .timer:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  z-index: 2;
  border: 4px groove #FFE4E1;
}

.clockarea .fill {
  content: '';
  position: absolute;
  background: #99CC00;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
