<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine|Poiret One|PT Serif|Open+Sans:300">
<h1>Pomodoro!</h1>
<h2>Increasing Productivity</h2>
<main ng-app="Pomodoro" ng-controller="MainCtrl">
  <div class="clockarea" ng-click="toggleTimer()">
    <div class="timer">
      <p class="title">{{sessionName}}</p>
      <p>{{timeLeft}}</p><span ng-style="{'height':fillHeight, 'background':fillColor }" class="fill"></span>
    </div>
  </div>
    <div class="controlarea">
     <div class="session">
      <div class="breakCtrl"><p>Relax For</p>
        <button ng-click="breakLengthChange(-1)" class="minus">-</button><span class="time">{{breakLength}}</span>
        <button ng-click="breakLengthChange(1)" class="plus">+</button>
      </div>
      <div class="sessionCtrl">
        <p>work for</p>
        <button ng-click="sessionLengthChange(-1)" class="minus">-</button><span class="time">{{sessionLength}}</span>
        <button ng-click="sessionLengthChange(1)" class="plus">+</button>
      </div>
    </div>
  </div>
 
</main>
      
